<%= form_for :answers, url: "/users/#{session[:user_id]}/add_answers" do |f| %>
  <%= f.fields_for :date do |date_form| %>
    <h4>Answers for:
    <%= date_form.date_select(:date) %></h4><br>
  <% end %>

  <% @questions.each do |question| %>
    <p>
      <%= f.label question.text %>
      <%= f.text_field question.id %>
    </p>
  <% end %>
  <%= f.submit value = "Save Answers" %>
<% end %>
