<%= button_to "Submit answers", answer_user_path(current_user), method: 'get' %>
<%= link_to "Edit preferences", edit_user_path(current_user) %><br>

<br>
<div id="question list">
  <h3>Your set of daily questions</h3>
  <ul>
    <%= render @questions %>
  </ul>
</div>
<br>

<%= button_to "Add a new question", new_user_question_path(current_user), method: 'get' %>

<%= link_to "send reminder email now", send_reminder_path(current_user) %>
